@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body { margin:0; 
     color:#333; 
}
header { background: linear-gradient(135deg, #ff512f, #f08919);
         padding:15px; 
      }


.navbar { display:flex;
          justify-content:space-between;
          align-items:center;
          font-family: 'Oswald', sans-serif; 
          width: 100%;
        }
.logo { color:#0c0c0c;
        font-size:25px;
        font-weight:bold; 
    }
.nav-links { list-style:none;
             display:flex;
             gap:20px; 
          }
.nav-links a { color:#0a0a0a;
               text-decoration:none; 
            }
.burger { display:none;
          font-size:28px;
          color:#fff; 
          cursor:pointer; 
     }
.hero { background: url('https://koreus.cdn.li/thumbshigh/201406/pub-nike-football-last-game.jpg') center/cover no-repeat;
        color:#fff;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        padding:100px 20px; 
        width: 100%;
    }

.hero h1 { color:white;
           font-size:48px;
           font-family: 'Montserrat';
           font-weight: bold;
           text-align: center;
      }
.hero p { font-size:20px;
          color:black ;
          font-weight: 500;
          font-family: 'Roboto';
     }
.btn { display:inline-block;
       margin-top:20px;
       padding:10px 20px;
       background:#ff3c00;
       color:#fff; 
       cursor:pointer; 
       border-radius: 5px;
    }
.features { display:flex;
            justify-content:space-around;
            padding:40px ; 
            background:#fff; 
    }
.feature { width:30%; 
           text-align:center; 
        }
.feature img {
    width: 60px;
    margin-bottom: 15px;
}
.products { padding:40px; 
         }
.product-grid { display:grid;
                grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
                gap:20px; 
            }
.product img { width:100%;
               border-radius:8px; 
            }
.about, .contact, .login, .countdown { padding:60px 20px;
                                       text-align:center; 
                                    }
form { display:flex;
       flex-direction:column;
       gap:10px;
       max-width:400px;
       margin:auto; 
    }
form input, form textarea, form button { padding:10px;
                                         border:1px solid #ccc;
                                         border-radius:5px; 
                                        }
footer { background:#111;
         color:#fff;
         text-align:center;
         padding: 15px;
        }
@media (max-width:576px) {
  .nav-links { display:none;
               flex-direction:column;
               background:transparent;
               position:absolute;
               top:60px; 
               left:260px; 
               width:200px; 
            }
  .burger { display:block; 
              }
  .nav-links.active { display:flex;
  }
}

  @media (min-width: 577px) and (max-width: 1024px) {
      .nav-links { display:none;
               flex-direction:column;
               background:transparent;
               position:absolute;
               top:60px; 
               left:900px; 
               width:400px; 
            }
  .burger { display:block; 
              }
  .nav-links.active { display:flex;
  }
}
  .filtrestyle24 {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  color: black solid 2px;
  font-weight: bold;
  cursor: pointer;
  position:absolute;
  top: 135px;
  right: 1000px;
}

.filtrestyle24:hover {
  text-decoration: underline;
  border-color: black;
}

.filtre h1{
  font-family: 'Monserrat';
  position: absolute;
  top:100px;
  left: 570px;
}
.product-grid p {
  font-family: 'Roboto', sans-serif;
}
.filtrestyle25 {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  color: black solid 2px;
  font-weight: bold;
  position: absolute;
  top: 135px;
  left: -8px;
  cursor: pointer;
}

.filtrestyle25:hover {
  text-decoration: underline;
  border-color: black;
}

}
.countdown {
            background-color: #f4f4f4;
            padding: 20px;
            border-radius: 10px;
            font-size: 20px;
        
         }
.new-arrivals button {
       display:inline-block;
       position:absolute;
       bottom: 200px;
       right: 600px;
       top: 450px;
       background:#ff3c00;
       color:#fff;
       width: 200px;
       height: 40px; 
       border: none;
       cursor:pointer; 


}
section {
    background:url('https://jdfrance.s3.eu-west-1.amazonaws.com/wp-content/uploads/2023/05/NIKE_078-Banner-1920x840_Group.jpg') center/cover no-repeat;
    width: 100%;
    height: 400px;
}
.filtre {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  padding: 10px 0;
}
.filtrestyle1 {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  color: black solid 2px;
  font-weight: bold;
  cursor: pointer;
  position:absolute;
  top: 100px;
  right: 1000px;
}

.filtrestyle1:hover {
  text-decoration: underline;
  border-color: black;
}

.filtre h1{
  font-family: 'Monserrat';
  position: absolute;
  top:75px;
  left: 500px;
}
.product-grid p {
  font-family: 'Roboto', sans-serif;
}
.filtrestyle2 {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  color: black solid 2px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 950px;
  cursor: pointer;
}

.filtrestyle2:hover {
  text-decoration: underline;
  border-color: black;
}
.filtrestyle {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  color: black solid 2px;
  font-weight: bold;
  cursor: pointer;
}

.filtrestyle:hover {
  text-decoration: underline;
  border-color: black;
}

.about p{
   font-family: 'Arial Black', sans-serif;
  font-weight: 700; 
  font-size: 20px;
  line-height: 30px;
  color: white; 
  text-align: center; 
  margin: 0; 
}

.about h1{
  font-family: 'Monserrat', sans-serif; 
  font-size: 40px;
  color: black; 
  text-align: center; 
  margin-bottom: 20px;
  
}

.about{
  background: url('https://www.koin.com/wp-content/uploads/sites/10/2025/03/GettyImages-1788682209.jpg') center/cover no-repeat;
  width: 100%;
  height: 500px;
}
.filtrestyle24 {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  color: black solid 2px;
  font-weight: bold;
  cursor: pointer;
  position:absolute;
  top: 135px;
  right: 1000px;
}

.filtrestyle24:hover {
  text-decoration: underline;
  border-color: black;
}

.filtre h1{
  font-family: 'Monserrat';
  position: absolute;
  top:100px;
  left: 570px;
}
.product-grid p {
  font-family: 'Roboto', sans-serif;
}
.filtrestyle25 {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  color: black solid 2px;
  font-weight: bold;
  position: absolute;
  top: 135px;
  left: 975px;
  cursor: pointer;
}

.filtrestyle25:hover {
  text-decoration: underline;
  border-color: black;
}
.filtre1 h1{
  font-family: 'Monserrat';
  position: absolute;
  top:75px;
  left: 500px;
}
.filtre1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  padding: 10px 0;
}